body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Coming Soon';
	text-transform: uppercase;
	background: rgb(239,239,239); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(239,239,239,1) 0%, rgba(238,238,238,1) 36%, rgba(153,153,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(239,239,239,1)), color-stop(36%,rgba(238,238,238,1)), color-stop(100%,rgba(153,153,153,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(239,239,239,1) 0%,rgba(238,238,238,1) 36%,rgba(153,153,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(239,239,239,1) 0%,rgba(238,238,238,1) 36%,rgba(153,153,153,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(239,239,239,1) 0%,rgba(238,238,238,1) 36%,rgba(153,153,153,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(239,239,239,1) 0%,rgba(238,238,238,1) 36%,rgba(153,153,153,1) 100%); /* W3C */
}

.right {
	padding-right: 50px;
  float:right;
}

.left {
	padding-left: 50px;
  float:left;
}

.explanation {
	width: 687px;
	margin: auto;
}

.explanation h3 {
	font-size: 21px;
	font-weight: normal;
	margin:0px;
}

.explanation p {
	font-size: 15px;
	margin:0px;
	margin-bottom:20px;
}

#content {
	width: 620px;
	margin: 0 auto;
}

#content img {
  display: block;
  margin: auto;
}

#content > h1,
#content > h2 {
	text-align: center;
	background: white;
	padding: 9px 5px 5px;
	-webkit-box-shadow: 1px 1px 5px 2px #999;
	box-shadow: 1px 1px 20px 2px #999;
	margin: 0 auto;
	margin-top: 20px;
}

#content > h1 {
	width: 390px;
	font-size: 2.5em
}

#content > h2 {
	width: 590px;
}

#asseenon {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	color: white;
	padding: 0 15px;
	text-align: center;
	border-top: 20px solid #800;
	border-bottom: 20px solid #800;
}

#asseenon span {
	display: block;
	padding: 20px 0;
	font-size: 1.4em;
	border-bottom: 3px double #ccc;
}
#asseenon img {
	margin-right: 20px;
}

.feature {
	width: 620px;
	margin: 0 auto 100px auto;
}

.feature .explanation {
	width: 400px;
}

.feature.lamp {
	background: url(lamp.png) no-repeat top center;
	padding-top: 190px;
}

.feature.kicker {
	background: url(kicker.png) no-repeat top center;
	background-size: contain;
	padding-top: 320px;
}

.feature.app {
	background: url(app.png) no-repeat top center;
	padding-top: 220px;
}

.feature.lamp .explanation,
.feature.app .explanation {
	margin-top: 10px;
	-moz-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-webkit-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.feature.kicker .explanation {
	-moz-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}

.wantsomegetsome {
	background-image: url(player_bar.png);
	background-repeat: repeat-x;
	margin: 20px auto;
	height: 100px;
	width: 100%;
}

#contact {
	position:fixed;
	left:50%;
	top:-500px;
	width:450px;
	margin-left:-225px;

	padding:20px;
	border-radius:30px;
	box-shadow:0px 0px 10px black;
	text-align:center;

	background: #eee;
	background:-moz-radial-gradient(center, #fff, #ccc); /* Firefox */
	background:-webkit-radial-gradient(center, #fff, #ccc); /* Safari, Chrome */
	background:-o-radial-gradient(center, #fff, #ccc); /* Opera */
	background:-ms-radial-gradient(center, #fff, #ccc); /* IE */
	background:radial-gradient(center, #fff, #ccc); /* W3C Standard */

}

#contact img {
	vertical-align: middle;
}

/* ribbon style */

 .ribbon-wrapper {
	position: relative;
}
  .ribbon-front {
	background-color: #000;	height: 200px;
	width: 370px;
	position: relative;
	left:-35px;
	z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 200px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -35px;
	border-color: transparent #300 transparent transparent;
}

  .ribbon-edge-topleft {
	top: -10px;
	border-width: 10px 20px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 20px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 315px;
	border-color: transparent transparent transparent #300;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 20px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 10px 20px;
}
